<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJfL-7Dx5oWIw8l7vTb_x-6YlftESMpaw</string>
	<key>GCM_SENDER_ID</key>
	<string>626864649467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sempreOnlineApp</string>
	<key>PROJECT_ID</key>
	<string>sempre-online-notificacoes</string>
	<key>STORAGE_BUCKET</key>
	<string>sempre-online-notificacoes.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626864649467:ios:261708e2a726687a5c6c5e</string>
</dict>
</plist>